*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic';

}
header{
    width: 100%;
    background-color: #014E56;
    
}
.header-container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    
     color: white;
     padding-top: 77px;
     
}
.hrefs{
    list-style: none;
    display: flex; text-decoration: none;
    gap: 40px;
    

}
.hrefs a{
    text-decoration: none;
    color: white;

}
.hrefs a:hover{
    transition: all 0.4s;
    color:red;
}
.for-flex{
    display: flex;
    gap: 80px;
    align-items: center;
}
.header-container button{
    padding-top: 9px;

    padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background: inherit;
    border-color:  white   ;
}
.header-container button:hover{
    transition: all 0.6s;
    background-color: #fff;
    color: #000;
}

.header-container button a{
    text-decoration: none;
    color: #fff;

}
.header-container button a:hover{
    color: #000;
}
.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.find h1{
font-size: 100px;
font-weight: 700;
line-height: 100px;
text-align: left;
color: white;
width: 535px;
margin-left: -100px;
}
.span{
    color: red;
}

.find{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 100px;
    
    
}
.main img{
    margin-left: -30px;
    
    width: 100px;
    height: 200px;

}
.main{
    display: flex;
    margin-right: 0;
    margin-top: 120px;
    
}

.rectangle{
  width: 50px;
  height: 4px;
  background-color: #79C8C7;


}
.desc{
    width: 445px;
    color: white;
    font-size: 18px;
    line-height: 28px;
}

.flex-words{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.for-img{
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;

}
.for-img img{
    margin-left: 800px;
    margin-top: 150px;
}
.featured{
    width: 100%;
    background-color: #012F34;
    padding-top: 140px;
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 140px;
}
.main-container{
 max-width: 1110px;
margin-left: auto;
margin-right: auto;
display: flex;

}

.rect{
    width: 50px;
    height: 4px;
    background: #F67E7E;
}
.main-flex h1{
    width: 445px;
    color: white;
    font-size: 48px;
    line-height: 48px;
}
.main-flex{
    display: flex;
    flex-direction: column;  
    gap: 54px;
    margin-top: -40px;

}
.user-info h3{
color:#F67E7E;
}

.user-info p{
    color: white;
    margin-top: 16px;
}

.user-flex{
    
    display: flex;

    align-items: center; 
    gap: 20px;
    position: relative;
    z-index: 1;
}
.btimg{
    position: absolute;
    margin-left: 1100px;
    margin-top: -100px;
}
.delivering{
    width: 100%;
    background-color: #004047;
 padding-left: 165px; 
 padding-bottom: 220px;
    padding-top :140px
  
}
.delivering-container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.delivering img{
    position: absolute;
    padding-left: -100px;
}
.deliver{
text-align: center;
width: 932px;
font-size: 48px;
color: white ;
}
.deliver span{
    color: #79C8C7;
}

.the{
    width: 350px;
    font-size: 15px;
    line-height: 25px;
    color:white;
    text-align: center;

    position: relative;
    z-index: 2;     
}
.user1 h1{
    width: 350px;
    color: #79C8C7;
    text-align: center;
    margin-top: 24px;

}

.manager{
    color: white;
    font-style: italic;
    text-align: center;
    width: 350px;   
    margin-top: 2px;
}

.kady{
    width: 62px;
    margin-top: -10px;
    height: 62px;
    margin-top: 32px;
    margin-left: 144px;
}
.desc-users{
    margin-top: 90px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.sign{
    position: absolute;
    margin-top: -210px;
    z-index: 0;
  margin-left: 900px;
}

.sign1{
    position: absolute;
    margin-top: -210px;
    z-index: 0;
  margin-left: 500px;
}
.sign2{
    position: absolute;
    margin-top: -210px;
    z-index: 0;
  margin-left: 150px;
}
.fimg{
    position: absolute;
    margin-left: 950px;
    margin-top: 120px;
}
.footerly{
    max-width: 100%;
     padding-left: 263px;
     padding-top: 76px;
     padding-bottom:  76px;
     padding-left: 260px;
     background: #F67E7E;

}
.footerly-container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.flx{
    display: flex;
    gap: 260px;
}
.flx h1{
    color: #012F34;
    font-size: 48px;
    width: 504px;


}
.flx button{
    width: 153px;
    height: 48px;
    background-color: inherit;
    border: 2px solid #012F34;
    cursor: pointer;
    border-radius: 20px;
    color: #012F34;
}
.bottomimg{
    position: absolute;
    margin-left: -280px;
    margin-top: -10px;
}
.footer{
    width: 100%;
    background-color: #002529;
    padding-top: 48px;
    padding-left: 165px;
    padding-bottom: 48px;
}
.footer-container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 225px;

}
.hrefss a{
    text-decoration: none;
    color: white;
}
.hrefss{
    display: flex;
    gap: 40px;
    list-style: none;

}
.col{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.flexfooter{
    display: flex;
    gap: 100px;
}


.col h1{
    color: white;
}
.infoo{
    width: 220px;
    color: #fff;
    opacity: 60%;
    font-size: 15px ;
    line-height: 35px;
}
.images{
    display: flex;
    gap: 16px;
    margin-left: 120px;

}
.description{
    color: #fff;
    opacity: 60%;
    font-size: 15px;
    width: 255px;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.to-contact{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    
.header-container{
    max-width: 689px;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
}

.flex-words{
    display: flex;
    flex-direction: column;
    margin-left: 0; 
    text-align: center;
  }
 .rectangle{
    display: none;
 }

.find{
    flex-direction: column;
    gap: 20px;
    max-width: 685px;
    margin-top: 120px;
    align-items: center;
}
.for-img img{
    margin-left: 200px;
}

.main-container{
    max-width: 573px;
    width: 100%;
    flex-direction: column;
    gap: 64px;
    
}
.main-flex{
    max-width: 517px;
}
.result{
    max-width: 517px;
    width: 100%;
    gap: 20px;
}
.user-flex{
    margin-top: 20px;
    gap: 23px
    ;
    width: 517px;
}
.btimg{
    margin-left:500px;
    margin-top: -645px;
    width: 100px;
    height: 200px;
}

.rect h1{
    width: 445px;
    font-size: 32px;
}
.main img{
    display: none;
}
.find h1{
    width: 383px;
    font-size: 64px;
    text-align: center;
}

.delivering-container{
    max-width: 573px;
    width: 100%;
    margin-left: 0;
    text-align: center;
}
.desc-users{
    flex-direction: column;
    gap: 120px;
    align-items: center;
}
.delivering{
    padding-left: 100px;
}
.fimg{
    margin-left: 180px;
}
.kady{
    margin-left:0px;
    margin-top: 0;
}
.sign1{
    margin-left: -20px;
    margin-top: -800px;
}
.sign2{
    margin-left: -10px;
    /* margin-top: -10px; */
}
.sign{
    margin-left: -10px;
    margin-top: -520px;
}
.deliver{
    width: 573px;
    font-size: 32px;
    text-align: center;
    line-height: 32px;
}

.footerly-container{
max-width: 768px;
width: 100%;
padding-left: 0;

}
.bottomimg{
    width: 200px;
    height: 170px;

    margin-top: 87px;
    display: none;
}
.flx{
    width: 517px;
    margin-left: 0;
    margin-left: 0;
    display: flex;
    margin-right: 100px;
    margin-left: -180px;
    gap: 40px;
}
.flx h1{
    width: 336px;
    font-size: 32px;
}

.footer{
    padding-left: 0;
    padding-right: 0;
}
.footer-container{
    max-width: 689px;
    width: 100%;
    flex-direction: column;
}
.flexfooter{
    display: flex;

}
.right{
    display: flex;

}
}
