*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic';

}
header{
    width: 100%;
    background-color: #014E56;
    
}
.header-container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    
     color: white;
     padding-top: 77px;
     
}
.hrefs{
    list-style: none;
    display: flex; text-decoration: none;
    gap: 40px;
    

}
.hrefs a{
    text-decoration: none;
    color: white;

}
.for-flex{
    display: flex;
    gap: 80px;
    align-items: center;
}
.header-container button{
    padding-top: 9px;

    padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background: inherit;
    border-color:  white   ;
}
.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about{
    margin-top: 120px;
}